.gray{
    color: rgb(163, 163, 163);
    font-size: 15px;
    font-weight: 400;
}
.white{
    color: white;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 2px;
}
.white:hover{
    cursor: pointer;
}
@media (max-width: 535px) {
   .white{
    text-align: center;
   }
}
