.stay-div{
    display: flex;
    flex-direction: column;
    gap: 0px;
}
.imagefirst{
    height: 291.635px;
    width: 379.958px;
    object-fit: cover;
}
.imagesecond{
    height: 244.917px;
    width: 379.958px;
    object-fit: cover;
}
.stayAround-div{
    width: 379.958px;
    background-color: white;
    height: 280px;
    padding: 30px 40px 40px 40px ;
    border: 1px solid gainsboro;
    /* box-shadow: 1px 2px 7px 2px rgba(232, 230, 230, 0.63); */
}
.stayAround-txt{
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 4px;
    color: rgb(92, 92, 92);
}
.stayAround-div h2{
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: Gilda Display;
    margin-top: 10px;
    text-align: left;
}
.stayAround-div div{
    margin-top: 15px;
}
.stayAround-div div p{
    font-size: 14px;
    font-weight: 300;
    color: rgb(92, 92, 92);
    letter-spacing: 1px;
    line-height: 28px;
}

@media (max-width: 1260px) {
    .imagefirst{
        width: 370px;
        height: 320px;
    }   
    .imagesecond{
        width: 370px;
        height: 320px;
    }   
    .stayAround-div{
        width: 370px;
    }
}

@media (max-width: 1228px) {
    .imagefirst{
        width: 360px;
        height: 320px;
    }   
    .imagesecond{
        width: 360px;
        height: 320px;
    }   
    .stayAround-div{
        width: 360px;
    }
}

@media (max-width: 1208px) {
    .imagefirst{
        width: 450px;
        height: 320px;
    }   
    .imagesecond{
        width: 450px;
        height: 320px;
    }   
    .stayAround-div{
        width: 450px;
    }
}

@media (max-width: 1153px) {
    .imagefirst{
        width: 410px;
        height: 320px;
    }   
    .imagesecond{
        width: 410px;
        height: 320px;
    }   
    .stayAround-div{
        width: 410px;
    }
}
@media (max-width: 1098px) {
    .imagefirst{
        width: 390px;
        height: 320px;
    }   
    .imagesecond{
        width: 390px;
        height: 320px;
    }   
    .stayAround-div{
        width: 390px;
    }
}

@media (max-width: 1041px) {
    .imagefirst{
        width: 440px;
        height: 320px;
    }   
    .imagesecond{
        width: 440px;
        height: 320px;
    }   
    .stayAround-div{
        width: 440px;
    }
}

@media (max-width: 994px) {
    .imagefirst{
        width: 395px;
        height: 320px;
    }   
    .imagesecond{
        width: 395px;
        height: 320px;
    }   
    .stayAround-div{
        width: 395px;
    }
}

@media (max-width: 837px) {
    .imagefirst{
        width: 350px;
        height: 320px;
    }   
    .imagesecond{
        width: 350px;
        height: 320px;
    }   
    .stayAround-div{
        width: 350px;
    }
  }

  @media (max-width: 771px) {
    .imagefirst{
        width: 350px;
        height: 320px;
    }   
    .imagesecond{
        width: 350px;
        height: 320px;
    }   
    .stayAround-div{
        width: 350px;
    }
  }

  @media (max-width: 760px) {
    .imagefirst{
        width: 700px;
        height: 400px;
    }   
    .imagesecond{
        width: 700px;
        height: 400px;
    }   
    .stayAround-div{
        width: 700px;
        height: 400px;
    }
  }

  @media (max-width: 745px) {
    .imagefirst{
        width: 98%;
        height: 400px;
    }   
    .imagesecond{
        width: 98%;
        height: 400px;
    }   
    .stayAround-div{
        width: 98%;
        height: 400px;
    }
  }

  @media (max-width: 440px) {
    .imagefirst{
        width: 98%;
        height: 270px;
    }   
    .imagesecond{
        width: 98%;
        height: 270px;
    }   
    .stayAround-div{
        width: 98%;
        height: 270px;
    }
  }

  /* @media (max-width: 682px) {
    .imagefirst{
        width: 550px;
        height: 320px;
    }   
    .imagesecond{
        width: 550px;
        height: 320px;
    }   
    .stayAround-div{
        width: 550px;
    }
  }

  @media (max-width: 628px) {
    .imagefirst{
        width: 500px;
        height: 320px;
    }   
    .imagesecond{
        width: 500px;
        height: 320px;
    }   
    .stayAround-div{
        width: 500px;
    }
  }

  @media (max-width: 571px) {
    .imagefirst{
        width: 450px;
        height: 320px;
    }   
    .imagesecond{
        width: 450px;
        height: 320px;
    }  
    .stayAround-div{
        width: 450px;
    }
  }

  @media (max-width: 500px) {
    .imagefirst{
        width: 440px;
        height: 320px;
    }   
    .imagesecond{
        width: 440px;
        height: 320px;
    }  
    .stayAround-div{
        width: 440px;
    }
  } */

  /* @media (max-width: 446px) {
    .imagefirst{
        width: 400px;
        height: 320px;
    }   
    .imagesecond{
        width: 400px;
        height: 320px;
    }  
    .stayAround-div{
        width: 400px;
    }
  } */

  /* @media (max-width: 438px) {
    .imagefirst{
        width: 400px;
        height: 320px;
    }   
    .imagesecond{
        width: 400px;
        height: 320px;
    }  
    .stayAround-div{
        width: 400px;
    }
  } */

  /* @media (max-width: 415px) {
    .imagefirst{
        width: 350px;
        height: 320px;
    }   
    .imagesecond{
        width: 350px;
        height: 320px;
    }  
    .stayAround-div{
        width: 350px;
    }
  }

  @media (max-width: 385px) {
    .imagefirst{
        width: 312px;
        height: 240px;
    }   
    .imagesecond{
        width: 312px;
        height: 280px;
    }  
    .stayAround-div{
        width: 312px;
    }
  } */

 

  