.smart-sec{
    display: flex;
    gap: 70px;
    padding: 100px 50px;
}
@media (max-width: 914px) {
    .smart-sec{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
 }
 @media (max-width: 723px) {
     .smart-sec{
        grid-template-columns: repeat(2, 1fr);
     }
 }

 @media (max-width: 470px) {
    .smart-sec{
       grid-template-columns: repeat(2, 1fr);
       padding: 100px 10px;
    }
}

 @media (max-width: 446px) {
    .smart-sec{
       grid-template-columns: repeat(2, 1fr);
       padding: 100px 10px;
    }
}
 @media (max-width: 430px) {
    .smart-sec{
        grid-template-columns: repeat(1, 1fr);
        padding: 300px 10px 100px 10px;

    }
 }
 
 @media (max-width: 385px) {
    .smart-sec{
        grid-template-columns: repeat(1, 1fr);
        padding: 150px 10px 100px 10px;    }
 }