.smartProps{
    display: flex;
    align-items: center;
    gap: 20px;
}
.smartProps img{
    width: 67.402px;
    height: 67.402px;
}
.smartProps div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.smartProps div h3{
     font-size: 20px;
     font-weight: 700;
     font-family: Gilda Display;
     letter-spacing: 1px;
}
.smartProps div p{
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    color:rgb(92, 92, 92);
}

.smartPropss{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.smartPropss img{
    width: 40px;
    height: 40px;
}
.smartPropss div{
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
}
.smartPropss div h3{
     font-size: 14px;
     font-weight: 300;
     color: rgb(92, 92, 92);
     letter-spacing: 1px;
     text-align: center;
}
.smartPropss div p{
    font-size: 0px;
}