.room-sec{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 30px;
    column-gap: 30px;
    /* margin: auto; */
    padding: 0px 70px;
}
@media (max-width: 1154px) {
   .room-sec{
      padding: 0px 40px;
   }
}
@media (max-width: 1100px) {
     .room-sec{
        grid-template-columns: repeat(2,1fr);
        /* column-gap: 0px; */
        padding: 0px 130px;
     }
  }

  @media (max-width: 1032px) {
     .room-sec{
        padding: 0px 90px;
     }
}

  @media (max-width: 1000px) {
    .room-sec{
       padding: 0px 120px;
    }
 }
 @media (max-width: 978px) {
     .room-sec{
      padding: 0px 70px;
     }
}
 @media (max-width: 950px) {
    .room-sec{
       padding: 0px 100px;
    }
 }
 @media (max-width: 910px) {
    .room-sec{
       padding: 0px 70px;
    }
 }
 @media (max-width: 825px) {
    .room-sec{
       padding: 0px 100px;
       grid-template-columns: repeat(1, 1fr);
    }
 }

 @media (max-width: 723px) {
   .room-sec{
    padding: 130px 57px;
   }
}

@media (max-width: 648px) {
   .room-sec{
      padding: 130px 40px;
   }
}

@media (max-width: 628px) {
   .room-sec{
      padding: 130px 65px;
   }
}

@media (max-width: 628px) {
   .room-sec{
      padding: 130px 45px;
   }
}

@media (max-width: 571px) {
   .room-sec{
      padding: 130px 60px;
   }
}

@media (max-width: 534px) {
   .room-sec{
      padding: 130px 40px;
   }
}

@media (max-width: 506px) {
   .room-sec{
      padding: 130px 30px;
   }
}

@media (max-width: 489px) {
   .room-sec{
      padding: 130px 19px;
   }
}

@media (max-width: 469px) {
   .room-sec{
      padding: 130px 10px;
   }
}

@media (max-width: 469px) {
   .room-sec{
      padding: 130px 20px;
   }
}

 @media (max-width: 430px) {
   .room-sec{
      padding: 0px 25px;
   }
}