.reception{
    width: 500px;
    height: 180px;
    display: flex;
    gap: 50px;
    align-items: center;
    box-shadow: 1px 3px 7px 2px rgba(221, 221, 221, 0.63);
    margin-left: 100px;
    margin-top: 30px;
}

.receptionImg{
    width: 103.8px;
    height: 103.8px;
    /* border: solid red; */
    border-radius: 50%;
    margin-left: -70px;
}
.receptionImg> img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.receptionText{
    width: 60%;
    height: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.receptionText h3{
    font-size: 25px;
    font-weight: 700;
    font-family: Gilda Display;
    letter-spacing: 1px;
    color: rgb(28, 28, 28);
}
.receptionText div p{
    color: rgb(92, 92, 92);
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 28px;
}
@media (max-width: 1154px) {
    .reception{
        width: 420px;
        height: 300px;
        /* margin-left: 60px; */
    }
}
@media (max-width: 1068px) {
    .reception{
        width: 850px;
     }
}
/* width */
@media (max-width: 969px) {
    .reception{
        width: 750px;
        margin-left: 120px;
    }
}
@media (max-width: 880px) {
    .reception{
        width: 650px;
    }
}
@media (max-width: 785px) {
    .reception{
        width: 570px;
    }
}
@media (max-width: 696px) {
    .reception{
        width: 520px;
    }
 }

 @media (max-width: 682px) {
    .reception{
        width: 480px;
        height: 230px;
    }
  }

  @media (max-width: 628px) {
    .reception{
        width: 440px;
        height: 270px;
    }
    .receptionImg{
        width: 70px;
        height: 70px;
        margin-left: -55px;
    }
  }

  @media (max-width: 628px) {
    .reception{
       padding: 0px 40px;
       width: 400px;
    }
    .receptionImg{
       margin-left: -120px;
    }
    .receptionText{
        width: 300px;
    }
  }

  @media (max-width: 571px) {
    .reception{
       padding: 0px 40px;
       width: 460px;
       flex-direction: column;
       margin-left: 50px;
    }
    .receptionImg{
       margin-left: 0px;
       width: 140px;
       height: 140px;
       margin-top: -70px;
    }
    .receptionText{
        width: 300px;
    }
  }

  @media (max-width: 534px) {
    .reception{
       padding: 0px 40px;
       width: 460px;
       flex-direction: column;
       margin-left: 33px;
    }
    .receptionImg{
       margin-left: 0px;
       width: 140px;
       height: 140px;
       margin-top: -70px;
    }
    .receptionText{
        width: 300px;
    }
  }

  @media (max-width: 506px) {
    .reception{
       padding: 0px 40px;
       width: 460px;
       flex-direction: column;
       margin-left: 25px;
    }
  }

  @media (max-width: 489px) {
    .reception{
       padding: 0px 30px;
       width: 460px;
       flex-direction: column;
       margin-left: 15px;
    }
  }

  @media (max-width: 469px) {
    .reception{
       padding: 0px 30px;
       width: 450px;
       flex-direction: column;
       margin-left: 7px;
    }
  }

  @media (max-width: 446px) {
    .reception{
       padding: 0px 30px;
       width: 420px;
       flex-direction: column;
       margin-left: 9px;
    }
  }


@media (max-width: 430px) {
    .reception{
        width: 340px;
        height: 260px;
        margin-left: 45px;
        padding: 50px 30px;
    }
    .receptionImg{
        width: 60px;
        height: 60px;
        /* margin-left: -10px; */
    }
}

@media (max-width: 415px) {
    .reception{
        width: 340px;
        height: 260px;
        margin-left: 36px;
        padding: 50px 30px;
    }
    .receptionImg{
        width: 60px;
        height: 60px;
        /* margin-left: -10px; */
    }
}