.docProps-div{
   display: flex;
   align-items: center;
   gap: 20px;
}
.docProps-div img{
    width: 30px;
    height: 30px;
}
.docProps-div p{
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
}