.roomprops-div{
    width: 350.958px;
    height: 227.573px;
    background-image: url(../../assets/IMG_9580.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 20px 30px;
    transition: transform 0.3s ease;
}
.roomprops-div:hover{
    transform: translateY(-10px);
}
.roompropss-div{
    width: 350.958px;
    height: 227.573px;
    background-image: url(../../assets/IMG_9638.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 20px 30px;
    transition: transform 0.3s ease;
}
.roompropss-div:hover{
    transform: translateY(-10px);
}
.roompropsss-div{
    width: 350.958px;
    height: 227.573px;
    background-image: url(../../assets/IMG_9682.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 20px 30px;
    transition: transform 0.3s ease;
}
.roompropsss-div:hover{
    transform: translateY(-10px);
}
.roompropssss-div{
    width: 350.958px;
    height: 227.573px;
    background-image: url(../../assets/IMG_9664.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 20px 30px;
    transition: transform 0.3s ease;
}
.roompropssss-div:hover{
    transform: translateY(-10px);
}
.roompropsssss-div{
    width: 350.958px;
    height: 227.573px;
    background-image: url(../../assets/IMG_9599.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 20px 30px;
    transition: transform 0.3s ease;
}
.roompropsssss-div:hover{
    transform: translateY(-10px);
}
.roompropssssss-div{
    width: 350.958px;
    height: 227.573px;
    background-image: url(../../assets/IMG_9603.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 20px 30px;
    transition: transform 0.3s ease;
}
.roompropssssss-div:hover{
    transform: translateY(-10px);
}
.overlays{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 33, 33, 0.094);
}
.roomprops-content{
    position: relative;
    z-index: 2;
}
.room-pos{
    width: 145px;
    height: 35px;
    background-color: rgb(193,155,118);
    padding: 11px 25px;
    position: absolute;
    top: 20px;
    right: 0;
}
.room-black{
    width: 145px;
    height: 35px;
    background-color: black;
    padding: 11px 25px;
    position: absolute;
    top: 20px;
    right: 0;
}
.room-black p{
    color: white;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 4px;
}
.room-pos p{
    color: white;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 4px;
}
.room-name{
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: Gilda Display;
    color: white;
}
.room-icons-div{
    display: flex;
    gap: 20px;
}
.room-icons-div div p{
    font-size: 13px;
    font-weight: 400;
    color: white;
}



@media (max-width: 1154px) {
     .roomprops-div{
        width: 320px;
     }
     .roompropss-div{
        width: 320px;
     }
     .roompropsss-div{
        width: 320px;
     }
     .roompropssss-div{
        width: 320px;
     }
     .roompropsssss-div{
        width: 320px;
     }
     .roompropssssss-div{
        width: 320px;
     }
 }
 @media (max-width: 1100px) {
    .roomprops-div{
        width: 400px;
     }
     .roompropss-div{
        width: 400px;
     }
     .roompropsss-div{
        width: 400px;
     }
     .roompropssss-div{
        width: 400px;
     }
     .roompropsssss-div{
        width: 400px;
     }
     .roompropssssss-div{
        width: 400px;
     }
}
@media (max-width: 936px) {
    .roomprops-div{
        width: 350px;
     }
     .roompropss-div{
        width: 350px;
     }
     .roompropsss-div{
        width: 350px;
     }
     .roompropssss-div{
        width: 350px;
     }
     .roompropsssss-div{
        width: 350px;
     }
     .roompropssssss-div{
        width: 350px;
     }
}
@media (max-width: 825px) {
     .roomprops-div{
        width: 600px;
        height: 350px;
     }
     .roompropss-div{
        width: 600px;
        height: 350px;
     }
     .roompropsss-div{
        width: 600px;
        height: 350px;
     }
     .roompropssss-div{
        width: 600px;
        height: 350px;
     }
     .roompropsssss-div{
        width: 600px;
        height: 350px;
     }
     .roompropssssss-div{
        width: 600px;
        height: 350px;
     }
     
     
 }

 @media (max-width: 682px) {
    .roomprops-div{
        width: 570px;
        height: 350px;
     }
     .roompropss-div{
        width: 570px;
        height: 350px;
     }
     .roompropsss-div{
        width: 570px;
        height: 350px;
     }
     .roompropssss-div{
        width: 570px;
        height: 350px;
     }
     .roompropsssss-div{
        width: 570px;
        height: 350px;
     }
     .roompropssssss-div{
        width: 570px;
        height: 350px;
     }
 }

 @media (max-width: 628px) {
     .roomprops-div{
        width: 500px;
     }
     .roompropss-div{
        width: 500px;
     }
     .roompropsss-div{
        width: 500px;
     }
     .roompropssss-div{
        width: 500px;
     }
     .roompropsssss-div{
        width: 500px;
     }
     .roompropssssss-div{
        width: 500px;
     }
  }
 
  @media (max-width: 571px) {
    .roomprops-div{
       width: 450px;
    }
    .roompropss-div{
        width: 450px;
     }
     .roompropsss-div{
        width: 450px;
     }
     .roompropssss-div{
        width: 450px;
     }
     .roompropsssss-div{
        width: 450px;
     }
     .roompropssssss-div{
        width: 450px;
     }
 }

 @media (max-width: 468px) {
    .roomprops-div{
       width: 430px;
    }
    .roompropss-div{
        width: 430px;
     }
     .roompropsss-div{
        width: 430px;
     }
     .roompropssss-div{
        width: 430px;
     }
     .roompropsssss-div{
        width: 430px;
     }
     .roompropssssss-div{
        width: 430px;
     }
 }


 @media (max-width: 446px) {
    .roomprops-div{
       width: 400px;
    }
    .roompropss-div{
        width: 400px;
     }
     .roompropsss-div{
        width: 400px;
     }
     .roompropssss-div{
        width: 400px;
     }
     .roompropsssss-div{
        width: 400px;
     }
     .roompropssssss-div{
        width: 400px;
     }
     
 }


 @media (max-width: 430px) {
    .roomprops-div{
        width: 380px;
    }
    .roompropss-div{
        width: 380px;
    }
    .roompropsss-div{
        width: 380px;
    }
    .roompropssss-div{
        width: 380px;
    }
    .roompropsssss-div{
        width: 380px;
    }
    .roompropssssss-div{
        width: 380px;
    }
 }

 @media (max-width: 415px) {
    .roomprops-div{
        width: 340px;
    }
    .roompropss-div{
        width: 340px;
    }
    .roompropsss-div{
        width: 340px;
    }
    .roompropssss-div{
        width: 340px;
    }
    .roompropsssss-div{
        width: 340px;
    }
    .roompropssssss-div{
        width: 340px;
    }
 }

 @media (max-width: 381px) {
    .roomprops-div{
        width: 335px;
        height: 290px;
    }
    .roompropss-div{
        width: 335px;
        height: 290px;
    }
    .roompropsss-div{
        width: 335px;
        height: 290px;
    }
    .roompropssss-div{
        width: 335px;
        height: 290px;
    }
    .roompropsssss-div{
        width: 335px;
        height: 290px;
    }
    .roompropssssss-div{
        width: 335px;
        height: 290px;
    }
 }

 @media (max-width: 364px) {
    .roomprops-div{
        width: 330px;
        height: 290px;
    }
    .roompropss-div{
        width: 330px;
        height: 290px;
    }
    .roompropsss-div{
        width: 330px;
        height: 290px;
    }
    .roompropssss-div{
        width: 330px;
        height: 290px;
    }
    .roompropsssss-div{
        width: 330px;
        height: 290px;
    }
    .roompropssssss-div{
        width: 330px;
        height: 290px;
    }
 }

 @media (max-width: 357px) {
    .roomprops-div{
        width: 325px;
        height: 290px;
    }
    .roompropss-div{
        width: 325px;
        height: 290px;
    }
    .roompropsss-div{
        width: 325px;
        height: 290px;
    }
    .roompropssss-div{
        width: 325px;
        height: 290px;
    }
    .roompropsssss-div{
        width: 325px;
        height: 290px;
    }
    .roompropssssss-div{
        width: 325px;
        height: 290px;
    }
 }

 @media (max-width: 353px) {
    .roomprops-div{
        width: 320px;
        height: 290px;
    }
    .roompropss-div{
        width: 320px;
        height: 290px;
    }
    .roompropsss-div{
        width: 320px;
        height: 290px;
    }
    .roompropssss-div{
        width: 320px;
        height: 290px;
    }
    .roompropsssss-div{
        width: 320px;
        height: 290px;
    }
    .roompropssssss-div{
        width: 320px;
        height: 290px;
    }
 }

 @media (max-width: 346px) {
    .roomprops-div{
        width: 315px;
        height: 290px;
    }
    .roompropss-div{
        width: 315px;
        height: 290px;
    }
    .roompropsss-div{
        width: 315px;
        height: 290px;
    }
    .roompropssss-div{
        width: 315px;
        height: 290px;
    }
    .roompropsssss-div{
        width: 315px;
        height: 290px;
    }
    .roompropssssss-div{
        width: 315px;
        height: 290px;
    }
 }