.room-cont{
    display: flex;
    gap: 30px;
    padding: 30px 40px;
}
.similar-room{
    padding: 50px 40px;
}
.similar-room-div{
    display: flex;
    gap: 30px;
    margin-top: 50px;
    /* padding: 50px 40px; */
}
.similar-room-text{
    color: rgb(28, 28, 28);
    font-size: 40px;
    font-weight: 400;
    font-family: Gilda Display;
}