.text-p p{
    color: rgb(92, 92, 92);
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 28px;
}

@media (max-width: 682px) {
   .text-p p{
    font-size: 17px;
   }
}

@media (max-width: 385px) {
    .text-p p{
     font-size: 14px;
    }
 }