.stayWalk-div{
    background-image: url(../../assets/IMG_9691.jpg);
    background-size: cover;
    background-position: center;
    height: 428.219px;
    width: 379.958px;
    display: flex;
    justify-content: end;
    flex-direction: column;
    padding: 40px 30px;
}
.stayWalk-divs{
    background-image: url(../../assets/IMG_9691.jpg);
    background-size: cover;
    background-position: center;
    height: 330.146px;
    width: 379.958px;
    display: flex;
    justify-content: end;
    flex-direction: column;
    padding: 40px 30px;
}
.stayWalk-divss{
   background-image: url(../../assets/IMG_9691.jpg);
   background-size: cover;
   background-position: center;
   height: 345px;
   width: 243px;
   display: flex;
   justify-content: end;
   flex-direction: column;
   padding: 40px 30px;
}
.stayWalk-div p{
    font-size: 13px;
    font-weight: 400;
    color: white;
    letter-spacing: 4px;
}
.stayWalk-div h2{
    font-size: 23px;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: Gilda Display;
    color: white;
    margin-top: 10px;
}
.stayWalk-divs p{
    font-size: 13px;
    font-weight: 400;
    color: white;
    letter-spacing: 4px;
}
.stayWalk-divs h2{
    font-size: 23px;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: Gilda Display;
    color: white;
    margin-top: 10px;
}
.stayWalk-divss p{
   font-size: 13px;
   font-weight: 400;
   color: white;
   letter-spacing: 4px;
}
.stayWalk-divss h2{
   font-size: 23px;
   font-weight: 700;
   letter-spacing: 1px;
   font-family: Gilda Display;
   color: white;
   margin-top: 10px;
}

@media (max-width: 1188px) {
    .stayWalk-div{
      width: 300px;
    }
    .stayWalk-divs{
        width: 300px;
    }
   }
 
   @media (max-width: 1134px) {
    .stayWalk-div{
        width: 379.9px;
    }
   }

@media (max-width: 817px) {
   .stayWalk-div{
     width: 600px;
   }
  }

  @media (max-width: 682px) {
     .stayWalk-div{
        width: 550px;
     }
  }

  @media (max-width: 628px) {
    .stayWalk-div{
       width: 500px;
    }
 }

 @media (max-width: 571px) {
    .stayWalk-div{
       width: 450px;
    }
 }

 @media (max-width: 500px) {
   .stayWalk-div{
      width: 440px;
   }
}

 @media (max-width: 446px) {
    .stayWalk-div{
       width: 400px;
    }
 }

 @media (max-width: 415px) {
    .stayWalk-div{
       width: 350px;
    }
 }

 @media (max-width: 385px) {
   .stayWalk-div{
      width: 312px;
      height: 340px;
   }
}