.header{
    background-color: rgb(28,28,29);
    height: 77px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
}
.header-right{
    display: flex;
    align-items: center;
    gap: 80px;
}
.header-mid{
    display: flex;
    gap: 45px;
}
.header img{
    width: 120px;
    height: 60.29px;
    object-fit: contain;
}
.home-link{
    text-decoration: none;
}
.header-mid{
    display: flex;
}
.menu{
    display: none;
}
@media (max-width: 871px) {
    .header-mid{
        display: none;
    }
    .menu{
        display: flex;
        font-size: 30px;
        color: white;
    }
    .book-menu{
        display: flex;
        align-items: center;
        gap: 40px;
    }
 }

 @media (max-width: 534px) {
    .header{
        padding: 0px 0px;
        padding-right: 30px;
        /* position: relative; */
    }
    .button-head{
        display: none;
    }
 }
 